extends layout

block content
  div
    h1 Hello #[a(href="https://github.com/electrode-io") Electrode]
    h2 Demonstration Components
    ul
      li #[a(href="/csrf") CSRF protection using electrode-csrf-jwt]
      